# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

\Debug
/Console-Menu/Debug
/Hello World/x64/Debug
/Hello World/Debug
/x64/Debug
/.vs/Learning C++/v16
/3 - Guess Number/x64/Debug
/4 - Console BrickBreaker/x64/Debug
