# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

\Debug
/Console-Menu/Debug
/Hello World/x64/Debug
/Hello World/Debug
/x64/Debug
/.vs/Learning C++/v16
/3 - Guess Number/x64/Debug
/4 - Console BrickBreaker/x64/Debug
/5 - Top down shooter/x64/Debug
/6 - Hello World Windowed/x64/Debug/vc141.pdb
/6 - Hello World Windowed/x64/Debug/vc141.idb
/6 - Hello World Windowed/x64/Debug/6 - Hello World Windowed.log
/6 - Hello World Windowed/x64/Debug/6 - Hell.D0DD2B0A.tlog/link.write.1.tlog
/6 - Hello World Windowed/x64/Debug/6 - Hell.D0DD2B0A.tlog/link.read.1.tlog
/6 - Hello World Windowed/x64/Debug/6 - Hell.D0DD2B0A.tlog/link.command.1.tlog
/6 - Hello World Windowed/x64/Debug/6 - Hell.D0DD2B0A.tlog/CL.write.1.tlog
/6 - Hello World Windowed/x64/Debug/6 - Hell.D0DD2B0A.tlog/CL.read.1.tlog
/6 - Hello World Windowed/x64/Debug/6 - Hell.D0DD2B0A.tlog/CL.command.1.tlog
/6 - Hello World Windowed/x64/Debug/6 - Hell.D0DD2B0A.tlog/6 - Hello World Windowed.lastbuildstate
/6 - Hello World Windowed/x64/Debug/6 - Hell.D0DD2B0A.tlog
/6 - Hello World Windowed/x64/Debug
/6 - Hello World Windowed/6 - Hello World Windowed.vcxproj.user
/6 - Hello World Windowed/6 - Hello World Windowed.vcxproj.filters
/6 - Hello World Windowed/6 - Hello World Windowed.vcxproj
/.vs/Learning C++/v15/Solution.VC.db-wal
/.vs/Learning C++/v15/Solution.VC.db-shm
/.vs/Learning C++/v15/Solution.VC.db
/.vs/Learning C++/v15/Browse.VC.opendb
/.vs/Learning C++/v15/Browse.VC.db
/.vs/Learning C++/v15/.suo
/.vs/Learning C++/v15/ipch/AutoPCH/782449ee73c109e
